<h1>Pirate</h1>
  <body>
    <h2>Name:<%= @pirate.name %></h2>
    <h2>Weight:<%= @pirate.weight %></h2>
    <h2>Height:<%= @pirate.height %></h2>
  </body>
<h1>First Ship</h1>
  <body>
    <% @ships.each.with_index do |ship, i| %>
    <% if i == 0 %>
    <h2>Name:<%= ship.name %></h2>
    <h2>Type:<%= ship.type %></h2>
    <h2>Booty:<%= ship.booty %></h2>
    <% end %>
    <% end %>
  </body>

<h1>Second Ship</h1>
  <body>
    <% @ships.each.with_index do |ship, i| %>
    <% if i == 1 %>
    <h2>Name: <%= ship.name %></h2>
    <h2>Type: <%= ship.type %></h2>
    <h2>Booty: <%= ship.booty %></h2>
    <% end %>
    <% end %>
  </body>
